[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jay0Wei
[access "refs/for/refs/*"]
	read = group user/Jay0Wei
	push = group user/Jay0Wei
	label-Code-Review = -2..+2 group user/Jay0Wei
	label-Verified = -1..+1 group user/Jay0Wei
	rebase = group user/Jay0Wei
	removeReviewer = group user/Jay0Wei
	submit = group user/Jay0Wei
[access "refs/heads/*"]
	read = group user/Jay0Wei
	create = group user/Jay0Wei
	push = +force group user/Jay0Wei
	pushMerge = group user/Jay0Wei
[access "refs/tags/*"]
	push = group user/Jay0Wei
	push = +force group user/Jay0Wei
